.profile {
  display: flex;
  margin: 34px 80px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding: 0 0 20px;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 2rem;
  font-family: "Poppins";
}

.profile__description {
  margin: 0;
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  margin-top: auto;
  background: none;
  border: none;
  text-align: left;
}

.profile__edit-btn-text {
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn-text:hover {
  color: rgba(33, 33, 33, 1);
}

.button__pencil-svg {
  margin-right: 8px;
}

.button__plus-svg {
  width: 12px;
  height: 12px;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  align-self: end;
  background: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  padding: 18px 32px;
}

.profile__add-btn:hover {
  background: rgba(33, 33, 33, 0.8);
}
