[core]
	editor = \"C:\\Users\\Zachary\\Desktop\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = zzinimo
	email = zachzinimon@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
